/* layout */
ol.fields {
	list-style: none;
	padding: 0 0 5px 10px;
}
ol.fields li {
	border-bottom: 1px solid #eee;
}
ol.linefree li, ol li.linefree {
	border-bottom: 0px none;
}
ol.fields li label {
	float: left;
	width: 120px;
	padding: 2px 0 0 4px;
	color: #333;
}
ol.fields li.compulsory {
}
ol.fields li.compulsory label {
	/* color: #600; */
	background: transparent url(../images/compulsory.png) no-repeat right top;
}
ol.fields li span, ol.fields li small.nline {
	display: block;
	margin-left: 120px;
	padding: 2px 0 0 4px;
}
ol.fields li.buttons {
	padding-left: 122px;
	border-bottom: 0px none;
}
ol.fields ul {
	clear: left;
	list-style: none;
}
ol.fields ul li {
	border-bottom: 0 none;
}
ol.fields li.inline {
	padding: 6px 4px;
}
ol.fields li.inline span {
	display: inline;
}
ol.fields ul li label, ol.fields li.inline label {
	padding: 0;
	width: auto;
	float: none;
}
ol.multicol li {
	float: left;
}
ol.multicol li.newrow {
	clear: left;
}
ol.fields li strong {
	display: block;
	padding-left: 124px;
}
ol.fields li span.tznError {
	display: block;
	padding-left: 124px;
	font-size: .917em;
	color: #900;
}
ol.top li label {
	display: block;
	float: none;
}
ol.fields li p label {
	display: inline;
	width: auto;
}
/* fields */
input, textarea, select {
	padding: 2px;
}
input, textarea, option {
	font-style: Helvetica, Arial, sans-serif;
	font-size: 1em;
}
input, select, textarea {
	border: 2px solid #369;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input:focus, select:focus, textarea:focus {
	border-color: #333;
	outline: none;
}
button:focus {
	outline: none;
}
.wxxs {
	width: 30px;
}
.wxs {
	width: 50px;
}
.ws {
	width: 80px;
}
.wm {
	width: 120px;
}
.wl {
	width: 250px;
}
.wxl {
	width: 400px;
}
.wxxl {
	width: 99%;
}
textarea.hs {
	height: 50px;
}
textarea.hm {
	height: 100px;
}
textarea.hl {
	height: 200px;
}
textarea.hxl {
	height: 350px;
}
input.fake, textarea.fake {
	border: 1px solid white;
}
input.tznFile {
	border: 0 none;
}
input.red, textarea.red {
	border: 1px solid #933;
	background-color: #fff3f3;
}
/* captcha */
ol li.form_captcha {
}
ol li.form_captcha span.cms_captcha {
	display:block;
	margin: 0 0 12px 0;
	width: 360px;
	height: 40px;
	border: 2px solid #369;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ol li.form_captcha span.cms_captcha img {
	float: left;
}
ol li.form_captcha span.cms_captcha input {
	float: left;
	border: 0 none;
	border-left: 2px dotted #69c;
	width: 140px;
	height: 24px;
	padding: 8px 5px;
	vertical-align: middle;
}
ol li.form_captcha span.tznError {
	display: block;
	padding: 3px 0;
	font-size: 1em;
	color: #900;
}
ol.fields li.form_captcha span.cms_captcha {
	margin: 0 0 12px 122px;
}
/* buttons */
button, a.button {
	color: #333;
	font-size: 12px;
	border: 1px solid #ccc;
	padding: 1px 4px;
	height: 22px;
	background-image: url(../images/bg-buttons.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
a.button {
	padding: 2px 4px;
	height: auto;
}
button:hover, a.button:hover, button:focus, a.button:focus  {
	color: #000;
	border-color: #999;
	cursor: pointer;
}
button.create, a.create {
	background-position: -30px -22px;
}
button.submit, a.submit {
	background-position: -30px -22px;
}
button.save {
	padding-left: 30px;
	background-position: 0 -22px;
}
button.saveclose {
	padding-left: 30px;
	background-position: 0 -44px;
}
button.saveadd {
	padding-left: 30px;
	background-position: 0 -66px;
}
button.delete {
	padding-left: 30px;
	background-position: 0 -88px;
}
.close {
	margin-left: 10px;
	padding: 0 4px 2px 10px;
	background: transparent url(../images/cross.png) no-repeat left center;
}
a.close {
	color: #333;
	text-decoration: underline;
}
a.close:hover {
	color: #000;
}
.faded {
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);
}
.froption {
	background: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}
#ajax-load {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);
	background: #fff url(../images/loading.gif) no-repeat center center;
	z-index: 200;
	behavior: url(/assets/css/iedivfix.htc);
}
.loading {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	background: url(../images/loading.gif) no-repeat center center;
}