.content img.lft {
	float: left;
	margin: 0px 8px 4px 0px;
}
.content img.rgt {
	float: right;
	margin: 0px 0px 4px 8px;
}
.content img.ctr {

}
.content div.doclist ul {
	margin: 10px 0px 0px 12px;
	padding: 0px;
}
.content div.doclist li {
	padding: 0px 0px 6px 0px;
	list-style: square outside;
}